<h1>Listing debtors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debtors.each do |debtor| %>
  <tr>
    <td><%= debtor.name %></td>
    <td><%= debtor.email %></td>
    <td><%= link_to 'Show', debtor %></td>
    <td><%= link_to 'Edit', edit_debtor_path(debtor) %></td>
    <td><%= link_to 'Destroy', debtor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debtor', new_debtor_path %>
