
<div id="account_heading"><%= @account.name %></div>

<div id="cash_value_box">
  <div id="cash_difference_box">
  </div>
</div>

<%= render "new_transaction_form" %>

<div id="<%= get_cash_difference_id(@account.cash) %>"><%= ahead_or_behind_message(@account) %></div>

<div class="penalty-message <%=behind_flag(@account)%>"><%= @account.penalty_percentage %>% Penalty in Effect<br>Save back up to zero to avoid penalties</div>

<h2><%= @account.over_or_under_budget_message %></h2>
<br />
<div id="cash_per_day"><%= "Balance: #{@account.cash}" %></div>
<div id="cash_per_day"><%= "Daily Budget: #{@account.daily_budget}" %></div>
<div id="cash_per_day"><%= "Monthly Budget: #{@account.budget}" %></div>
  
<div id="chart_div" style="width: 100%; height: 100px;"></div>

<%= render "transactions/transactions_table_small" %>

<div data-role="navbar">
  <ul>
    <li><%= link_to 'Edit', edit_account_path(@account) %></li>
    <li><%= link_to 'Back', accounts_path %></li>
    <li><%= link_to 'Destroy', @account, confirm: 'Are you sure?', method: :delete %></li>
  </ul>
</div>